

@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Vinyl&display=swap');




*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #020617;
    font-family: "open Sans";
  
  
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 536px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 952px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1160px;
    }
  }


  .header-landing{
     background-image: url(../images/blue-planet.webp);
         background-size:cover ;
         height: max-content;
          background-position: center;
         /* width: 100%; */
    .header{
background-color: #0e0d0e28;
    padding: 0 30px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      
        .logo{
            img{
               width: 200px;
               
            }
        }
        ul{
            display: flex;
            align-items: center;
            gap: 30px;
            li{
                position: relative;
                transition: .5s;
                a{
                    font-size: 14px;
                    color: #d1d5d8;
                    padding: 24px 0;
                     background-clip: text;
                    
                }
                .mega{
                    position: absolute;
                    top: 40px;
                    /* background-image: linear-gradient( #ffffff2f, #38020210 , #d1d1d167 , #cec9c92d); */
                   
             background-color: rgb(42, 42, 53); 
                    width:max-content;
                    height: max-content;
                 border-radius: 12px;
                 padding: 3px;
                 margin-bottom: 15px;
                 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                  left: -50px;
                  display: none;
                    transition: .5s;   
                    .mega {
  left: 0;
  right: 0; /* التأكد من البقاء ضمن الحدود */
  width: 100%;
  max-width: 300px; /* تحديد عرض أقصى */
}
                    .wep{
                     
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        /* margin-bottom:10px; */
                        cursor: pointer;
                        
                        i{
                            color: #5a5858;
                            margin-left: 10px;
                        }
                        p{
                            color: #fff;
                            font-size:14px;
                                 padding: 15px;
                        
                        }
                    }
                    .front-end{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        /* margin-bottom: 10px; */
                        cursor: pointer;
                      

                        i{
                            color: #5a5858;
                              margin-left: 10px;
                        }
                        p{
                            color: #fff;
                            font-size:14px;
                                 padding: 15px;
                           
                        }
                    }
                    .full-stack{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        /* margin-bottom: 10px; */
                        cursor: pointer;
                         

                        i{
                            color: #5a5858;
                              margin-left: 10px;
                        }
                        p{
                            color: #fff;
                            font-size:14px;
                              padding: 15px;
                        }
                    }
                    .html{
                     
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        /* margin-bottom:10px; */
                        cursor: pointer;
                        
                        i{
                            color: #5a5858;
                            margin-left: 10px;
                        }
                        p{
                            color: #fff;
                            font-size:14px;
                                 padding: 15px;
                        
                        }
                    }
                    .js{
                     
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        /* margin-bottom:10px; */
                        cursor: pointer;
                        
                        i{
                            color: #5a5858;
                            margin-left: 10px;
                        }
                        p{
                            color: #fff;
                            font-size:14px;
                                 padding: 15px;
                        
                        }
                    }
                   
                }
                .mega .wep:hover, .front-end:hover, .full-stack:hover,.html:hover,.js:hover {
                    background-color: #020617;
                    border-radius: 10px;
                     width: 100%;
                     padding: 0;
                  
                    
                                    
                }
            }
            a:hover{
                 background-image: linear-gradient(to right, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
              
               
            }
            li:hover .mega{
                display: block;
     
            }
        }
        .btn{
            position: relative;
            padding: 10px;
            background-image: linear-gradient(to bottom, #000911, #fcfcfc41);
            border-radius: 10px;
            outline-offset: 2px;
                outline: 3px solid #28303d;
             transition: .3s;
            a{
                color: #fff;
                padding: 10px;
            }
           
        }
        .btn:hover{
            background-image: linear-gradient(to right, #750697, #e52e71);
             outline: 3px solid #8003b9;
            
        }
        
       
  }
  .landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6.10px;
    position: relative;
top: 40px;

    h3{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #e5e7eb;
        margin: 16px 0 0;
        font-size: 48px;
        line-height: 1.5;
        
        span{
            color: transparent;
            background-image: linear-gradient(to bottom ,  #ae00ff, #ff8a00 );
            background-clip: text;
        }
    }
    p{
        color: #9ca3af;
        font-size: 18px;
        line-height: 1.5;
    }
    .btn{
        margin: 18px 0 0;
        outline: 3px solid #3d3d3d;
        outline-offset: 2px;
        border-radius: 15px;
         padding: 12px 1px;
         width: fit-content;
         margin-top: 30px;
        a{
            padding: 12px 30px ;
            color: #f9fafb;
                    border-radius: 15px;
            font-size: 14px;
           
            background-image: linear-gradient(to bottom ,  #ae00ff, #cb05f3ce );
        }
    }

    .btn:hover a{
        transition: .7s;
         background-image: linear-gradient(to left  ,  #ff00d4, #b005ffce );
    }
  }

  }
  
  @media(max-width : 1000px){
    .header-landing{
        .header{
           ul{
            display: none;
        } 
        }
        
    }
}
@media(max-width: 728px){
    .header-landing{
        .header{
            .logo{
                width: 400pc;
            }
        }
    .landing{
        h3{
            font-size: 35px;
        }
        p{
            font-size: 16px;
            
        }
    }

    }
   
}


@media(max-width:474px){
    .header-landing{
    .landing{
        h3{
            font-size: 35px;
        }
        p{
            font-size: 14px;
          
            
        }
    }

    }
   
}
@media(max-width:430px){
    .header-landing{
    .landing{
        h3{
            font-size: 30px;
        }
        p{
            font-size: 12px;
          
            
        }
    }

    }
   

}
@media(max-width:444px){
    .header-landing{
        .header{
            .logo{
                width: 300px;
            }
        }
    .landing{
        h3{
            font-size: 30px;
        }
        p{
            font-size: 12px;
          
            
        }
    }

    }
   
}

@media(max-width: 476px){
    .header-landing{
       
        .landing{
            h3{
            font-size: 30px;
        }
        p{
            font-size: 12px;
            
        }
        }
    }

}



/* boxes */

.boxes{
     --box-w: 315px;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: 500px;
        top: 80px;

}
       @keyframes track{ 
        to{
            left: calc(-1 * var(--box-w))
        }
    }
        .box{
               --duration: 200s;
        position: absolute;
        width:var(--box-w);
        height: max-content;
        padding: 8px 8px 16px;
        border-radius: 10px;
        border: 1px solid #525252;
          flex-shrink: 0;
          left: max(calc(var(--box-w) * 10), 100%);
         animation:  track var(--duration) linear infinite;
            img{
                width: 296px;
        height: 166px;
        border-radius: 10px;
            }

             .level{
          margin: 15px 0;
            p{
                font-size: 12px;
                color: #9ca3af;
                margin: 0 0 10px ;
            }
            .wides{
                display: flex;
                align-items: center;
                gap: 2px;
                .wed{
                    width: 16px;
                    height: 4px;
                    background-color: #6b728033;
                    border-radius: 20px;
                }
                .wed.active{
                    background-color: #60a5facc;
                }
            }
        }
        .text{
            h4{
                margin: 12px 0 0;
            font-size: 16px;
            color: #d1d5dbcc;
            }
            p{
                font-size: 14px;
                margin: 4px 0 0;
                color: #70757e;
                line-height: 1.5;
            }
        }

    
        }
           .box.box1{
        animation-delay: calc(var(--duration)/ 10 *(10 - 1) * -1);
    }
    .box.box2{
        animation-delay: calc(var(--duration)/ 10 *(10 - 2) * -1);
    }
    .box.box3{
        animation-delay: calc(var(--duration)/ 10 *(10 - 3) * -1);
    }
    .box.box4{
        animation-delay: calc(var(--duration)/ 10 *(10 - 4) * -1);
    }
    .box.box5{
        animation-delay: calc(var(--duration)/ 10 *(10 - 5) * -1);
    }
    .box.box6{
        animation-delay: calc(var(--duration)/ 10 *(10 - 6) * -1);
    }
    .box.box7{

        animation-delay: calc(var(--duration)/ 10 *(10 - 7) * -1);
    }
    .box.box8{

        animation-delay: calc(var(--duration)/ 10 *(10 - 8) * -1);
    }
    .box.box9{

        animation-delay: calc(var(--duration)/ 10 *(10 - 9) * -1);
    }
    .box.box10{

        animation-delay: calc(var(--duration)/ 10 *(10 - 10) * -1);
    }

    .master{
        padding: 0 40px;
        margin: 48px 35px 0;
        overflow: hidden;
        .heading{
            margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin-top: 100px; */
        h3{
            margin: 16px 0 8px;
            font-size: 35px;
            color: #f3f4f6;
            display: flex;
            flex-direction: column;
            line-height: 1.5;
            /* font-weight: normal; */
            span{
                background-image: linear-gradient(to right, #9635c4, #e5ab2e);
                background-clip: text;
                color: transparent;
            }
        }
        p{
            color: #9ca3af;
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
        }
       
     }
     .width{
        width: 100%;
        height: 130px;
        
     }
     .boex{
       overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 4px;
        
        .head-text{
             
            span{
                color: #9ca3af;
                font-size: 12px;
            }
            p{
                font-size: 20px;
                color: #d1d5d8;
                margin: 12px 0 0;
            }
        
        .text{
            p{
                color: #9ca3af;
                font-size: 16px;
                margin: 16px 0 0;
                line-height: 1.5;
            }
        }
        }
        img{
            width: 543px;
            height: 305px;
            border-radius: 10px;
        }
     }
    }

    @media(max-width:888px ){
        .master{
            
           
            .boex{
                display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            
            
                img{
                    /* width: 421px;
                    height: 237px; */
                  margin: 15px 0;
                }
            }
        }
    }

    @media(max-width:630px ){
        .master{ 
            .boex{
                display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            .width{
              height: 50px;  
            }
            .head-text{
                .text{
                     p{
                font-size: 13px; 
               }
                }
              
            }
            
                img{
                    width: 421px;
                    height: 237px;
                  margin: 15px 0;
                }
            }
        }
    }

    @media(max-width:510px ){
      
        .master{
            width: max-content; 
            margin: 48px 0 0;
              padding: 0 15px;
            
            .heading{
                display: flex;
                flex-direction: column;
                align-items: start;
                h3{
                    font-size: 27px;
                    
                }
                p{
                    font-size: 13px;
                }
               
            }
            .boex{
                display: grid;
            grid-template-columns: 1fr;
            align-items: start;
              width: 350px;
            
               .head-text{
                margin-left: 10px;
                .text{
                     p{
                font-size: 10px; 
               }
                }
              
            }
          
                img{
                  
                    width: 330px;
                  margin: 15px 0;
             
            
                }
            }
        }
           
          
              .footer{
                display: none;
                .logo-social{
                   
                    img{
                        display: flex;
                    align-items: start; 
                    }
                }
            }
          
        }
    
      
    


     .ultimate{
        background-image: url(../images/blue-planet-2.webp);
        height:max-content;
        margin: 64px;
        margin: 16px 0 0 ;
       overflow: hidden;
           .heading{
            margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        h3{
            margin: 16px 0 8px;
            /* margin-top: 20px; */
            font-size: 35px;
            color: #f3f4f6;
            display: flex;
            flex-direction: column;
            line-height: 1.5;
            /* font-weight: normal; */
            span{
                background-image: linear-gradient(to right, #9635c4, #e5ab2e);
                background-clip: text;
                color: transparent;
            }
        }
        p{
            color: #9ca3af;
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
        }
        .btn{
        margin: 18px 0 0;
        outline: 3px solid #3d3d3d;
        outline-offset: 2px;
        border-radius: 15px;
         padding: 12px 1px;
         width: fit-content;
         margin-top: 30px;
        a{
            padding: 12px 30px ;
            color: #f9fafb;
                    border-radius: 15px;
            font-size: 14px;
           
            background-image: linear-gradient(to bottom ,  #ae00ff, #cb05f3ce );
        }
    }

    .btn:hover a{
        transition: .7s;
         background-image: linear-gradient(to left  ,  #ff00d4, #b005ffce );
    }
     }

     .table{
        display: flex;

        justify-content: center;
        gap: 8px;
        margin: 64px 0 0;
        .links{
            margin-right: 50px;
            margin-top: 10px;
            p{
            color: #e5e7eb;
            font-size: 14px;
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin: 20px 0 0;
            li{
                margin-bottom: 20px;
                a{
                    color: #e5e7eb;
                    font-size: 14px;
                }
            }

            li:hover a{
            color: #750697;
            }
        }
        }
        
        .box-text{
            padding: 24px 48px;
            background-color: #fff;
            border-radius: 10px;
            width: 799px;

             img{
                width: 703px;
                height: 374px;
                margin: 16px 0 32px;
            } 
            .introduction{
                    h1{
                        font-size: 20px;
                        margin: 40px 0 20px;
                        color: #111827;
                    }
                    p{
                        margin: 0 0 20px;
                        font-size: 16px;
                        color: #374151;
                        line-height: 1.5;
                    }
                    h2{
                        padding: 0 0 0 6px;
                        margin: 20px 0 ;
                        font-size: 16px;
                        span{
                            color: #374151;
                        }
                    }
                }
                .starting{
                  h1{
                    font-size: 20px;
                    color: #111827;
                    margin: 40px 0 20px;
                  }  
                  p{
                    margin: 0 0 20px;
                        font-size: 16px;
                        color: #374151;
                        line-height: 1.5;
                  }
                }
                .skill{
                  h1{
                    font-size: 20px;
                    color: #111827;
                    margin: 40px 0 20px;
                  }  
                  p{
                    margin: 0 0 20px;
                        font-size: 16px;
                        color: #374151;
                        line-height: 1.5;
                  }
                }
                .levels{
                    h5{
                        color: #374151;
                        font-size: 16px;
                    }
                    p{
                         color: #374151;
                        margin: 20px 0 ;
                        padding: 0 0 0 6px;

                    }
                }
            
        }
     }
     }  

     @media(max-width: 1008px){
        .ultimate{
            .links{
                display: none;
            }
        }
     }
      @media(max-width: 813px){
        .ultimate{
            margin-top: 30px;
            .box-text{
                display: none;
            width: 667px;
            padding: 12px 32px;
        }
        }
        
      }

        /* @media(max-width:510px ){
        

            .header-landing{
                .header{
                    .btn{
                        display: none;
                    }
                    .logo{
                        display: flex;
                        justify-content: center;
                    }
                }
                .landing{
                    h3{
                        font-size: 10px;
                        
                    }
                }

            }
            .ultimate{
                display: none;
             width: 398px;  
            }
            .footer{
            width: max-content;
            }
        } */


      .asked{
    overflow: hidden;
        .container{
            margin: 96px 201px 32px;
            h2{
                font-size: 30px;
                color: #9ca3af;
                margin: 16px 0;
                text-align: center;
                font-weight: 500;
            }
            .text{
                padding: 0 16px;
                margin: 16px 0 8px;
                font-size: 25px;
                font-weight: 600;
                display: flex;
               cursor: pointer;
                padding: 32px 0;
                gap: 20px;
                color: #d1d5d8;
                position: relative;
                left: 10px;
                top: 20px;
                i{
                    font-size: 20px;
                }
               
               
            }
            .text.text1{
                margin-bottom: 40px;
                 .megaa{
                    display: none;
                    
                    position: absolute;
                    top: 100px;
                    line-height: 1.5;
                    left: 30px;
                    h3{
                        font-size: 16px;
                        color: #9ca3af;
                    }
                }
            }
            .text.text2{
                 margin-bottom: 40px;
                 .megaa{
                   display: none;
                    position: absolute;
                    top: 70px;
                    left: 40px;
                    line-height: 1.5;
                    h3{
                        font-size: 16px;
                        color: #9ca3af;
                    }
                }
            }
            .text.text3{
                 margin-bottom: 40px;
                 .megaa{
                   display: none;
                    position: absolute;
                    top: 100px;
                    line-height: 1.5;
                    left: 40px;
                    h3{
                        font-size: 16px;
                        color: #9ca3af;
                    }
                }
            }
            .text.text4{
                 margin-bottom: 40px;
                 .megaa{
                    display: none;
                    position: absolute;
                    top: 100px;
                    left: 40px;
                    line-height: 1.5;
                    h3{
                        font-size: 16px;
                        color: #9ca3af;
                    }
                }
            }
            .text.text5{
                
                 .megaa{
                    line-height: 1.5;
                    position: absolute;
                    top: 70px;
                    left: 40px;
                    display: none;
                    h3{
                        font-size: 16px;
                        color: #9ca3af;
                    }
                }
            }
            .text:hover{
                color: #8299fff5;
            }
           
        }
      }

      @media (min-width: 768px) {
  .asked .container {
    margin: 96px 201px 32px;
  }
}

      .footer{
      overflow: hidden;
        padding: 24px 48px 48px;
        background-color: #020617f2;
        margin-top: 20px;
        .logo-social{
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                width: 300px;
            }
            .socials{
                padding: 4px;
                border-radius: 15px;
                background: #020617;
                border: 3px solid #3d3d3d;
                display: flex;
                align-items: center;
                gap: 10px;
                i{
                    cursor: pointer;
                    
                    padding: 8px;
                    color: #fff;
                    font-size: 25px;
                    background: #0f172acc;
                    border-radius: 10px;
                }
            }
            .socials i:hover{
                background: #3d3d3d;
                transition: .7s;
            }
        }
        
        .title{
            margin: 32px 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
           
            gap: 30px;
            .hwight{
                height: 284px;
                width: 494px;
            }
            .challenges{
             display: flex;
                flex-direction: column;
                position: relative;
                top: -70px;
                margin-right: 20px;
                a{
                    padding: 10px;
                    font-size: 16px;
                    color: #9ca3af;
                }
                a:hover{
                    background-image: linear-gradient(to right , #e5ab2e, #e52e71 );
                    background-clip: text;
                    color: transparent;
                }
            }
            .career-proj{
                display: flex;
                flex-direction: column;
                   margin-right: 20px;
                p{
                    font-size: 15px;
                    color: #4b5563;
                    /* margin: 20px 0 ; */
                    
                }
                .career{
                    display: flex;
                    flex-direction: column;
                       a{
                    padding: 10px;
                    font-size: 16px;
                    color: #9ca3af;
                }
                a:hover{
                    background-image: linear-gradient(to right , #e5ab2e, #e52e71 );
                    background-clip: text;
                    color: transparent;
                }
                }
                .project{
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                       a{
                    padding: 10px;
                    font-size: 16px;
                    color: #9ca3af;
                }
                a:hover{
                    background-image: linear-gradient(to right , #e5ab2e, #e52e71 );
                    background-clip: text;
                    color: transparent;
                }
                }
            }
            .blogs{
                display: flex;
                flex-direction: column;
                position: relative;
                top: -100px;

                    a{
                    padding: 10px;
                    font-size: 20px;
                    color: #9ca3af;
                }
                a:hover{
                    background-image: linear-gradient(to right , #e5ab2e, #e52e71 );
                    background-clip: text;
                    color: transparent;
                }
            }
        }
      }



      @media(max-width: 1170px){
      .asked{
        .container{
            margin: 48px 0 32px;
            
        }
       
      }
       .footer{
            .title{
                .hwight{
                    display: none;
                }
            }
        }
    }

    @media(max-width: 767px){
        .asked{
            display: none;
            .container{
                .text{
                   font-size: 15px;
                   font-weight: normal;
                   .megaa{
                    position: absolute;
                    top:120px;
                    h3{
                font-size: 10px;
                line-height: 1;
             
                    }
                   }
                  
                }
            }
        }
        .footer{
            .logo-social{
                display: flex;
                justify-content: center;
                width: 655px;
                .socials{
                    display: none;

                }
                
            }
            .title{
                display: flex;
                align-items: start;
                flex-direction: column;
                margin: 30px 0;
               .blogs{
                position: relative;
                top: 0;
               }
            }
        }
    }



   
    


   





